.headerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.textButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
.separator {
    background-color: rgba(0, 0, 0, 0.65);
    width: 2px;
    height: 2.5rem;
}
.headerMobile {
    display: none;
}

.logoContainerMobile{
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.textButtonsContainerMobile {
    width: 100%;
    position: relative;
}
.hideMenu {
    display: none;
}
.showMenu {
    display: flex;
}
.textButtonsMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    position: absolute;
    background-color: white;
}
.svgIcons {
    display: flex;
    gap: 1.5rem;
    svg {
        max-height: 50px;
        width: auto;
        cursor: pointer;
        padding: .3rem;
        fill: currentColor;
        &:hover {
            color: #d82148;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        display: none;
    }
    .headerMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
    }
}